<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
     xmlns:p="http://primefaces.org/ui">
 <h:head><title>Project Income</title></h:head>
 <h:body>
     <h:form>
      <table>
      <tr>
      <td><h:outputLabel for="userId" value="Usuario: "/></td>
      <td><h:selectOneMenu value="#{incomeMB.userId}">
     	<f:selectItems id="userId" value="#{userMB.userList}" var="users" itemLabel="#{users.name}" itemValue="#{users.id}"></f:selectItems>
     	</h:selectOneMenu> </td>
     </tr>
     <tr>
     <td><h:outputLabel for="incomeTypeId" value="Tipo de Despesa: "/></td>
     <td><h:selectOneMenu value="#{incomeMB.incomeType}">
   			<f:selectItem itemValue="1" itemLabel="Entrada" />
   			<f:selectItem itemValue="2" itemLabel="Despesa" />
   		</h:selectOneMenu></td>
   		</tr>
  
       <tr>
        <td><h:outputLabel for="value" value="Valor: " /></td>
        <td><p:inputText id="value" value="#{incomeMB.value}">
          <f:converter converterId="javax.faces.Double"/>
             <p:ajax event="blur" update="idMsg" />
         </p:inputText>
         <p:message id="idMsg" for="value" display="icon"/>
        </td>
       </tr>
      
          <tr>
        <td><p:commandButton id="addUser" value="Add" action="#{incomeMB.addInvoice}" ajax="false"/></td>
        
       </tr>
      </table>
     </h:form>
</h:body>
</html>