<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:p="http://primefaces.org/ui">  

 <h:head><title>Consulta de Despesas</title></h:head>
 <body>
 <div>
 	<label><a href="index.jsf">Cadastrar Nova Pessoa</a> | </label>
 	<label><a href="searchIncomeDetail.jsf">Consultar Despesas</a></label>
 </div>
 <f:view>
     <h:form>
         <h:outputText value="Ocorreu um erro na Transação!"></h:outputText>
     </h:form>
 </f:view>
</body>
</html>