<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
     xmlns:p="http://primefaces.org/ui"
     xmlns:ui="http://java.sun.com/jsf/facelets">
 <h:head><title>Project Income</title></h:head>
 <h:body>
 <div>
 	<label><a href="index.jsf">Cadastrar Nova Pessoa</a> | </label>
 	<label><a href="searchIncomeDetail.jsf">Consultar Despesas</a></label>
 </div>
 <ui:repeat var="list" value="#{userMB.msg}" varStatus="status">
 	<h:outputLabel style="color:red" value="#{list}" />
 	<br/>
 </ui:repeat>
     <h:form>
      <table>
       <tr>
        <td><h:outputLabel for="name" value="Name : " /></td>
        <td><p:inputText id="name" value="#{userMB.name}" required="true" validatorMessage="Esse campo é necessário">
          <f:validateLength minimum="5" />
          <p:ajax event="blur" update="nameMsg" />
         </p:inputText>
         <p:message id="nameMsg" for="name" display="icon"/>
        </td>
       </tr>
       <tr>
        <td><h:outputLabel for="email" value="Email : " /></td>
        <td><p:inputText id="email" value="#{userMB.email}" required="true" validatorMessage="Esse campo é necessário">
          <f:validateLength minimum="5" />
          <p:ajax event="blur" update="emailMsg" />
         </p:inputText>
         <p:message id="emailMsg" for="email" display="icon"/>
        </td>
       </tr>
          <tr>
        <td><p:commandButton id="addUser" value="Adicionar" action="#{userMB.addUser}" ajax="false"/></td>
        <td><p:commandButton id="reset" value="Reset" action="#{userMB.reset}" ajax="false"/></td>
       </tr>
      </table>
     </h:form>
</h:body>
</html>