<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:h="http://java.sun.com/jsf/html"
 xmlns:f="http://java.sun.com/jsf/core"
 xmlns:ui="http://java.sun.com/jsf/facelets"
 xmlns:p="http://primefaces.org/ui"
 xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
 <title>Consulta Despesas Detalhadas</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>
<h:body>
 <div>
 	<label><a href="index.jsf">Cadastrar Nova Pessoa</a> | </label>
 	<label><a href="searchIncomeDetail.jsf">Consultar Despesas</a></label>
 </div>
 
 <h:form id="form">
 <ui:repeat var="list" value="#{searchMB.msg}" varStatus="status">
 	<h:outputLabel rendered="#{searchMB.successMsg}" style="color:green" value="#{list}" />
 	<h:outputLabel rendered="#{searchMB.errorMsg}" style="color:red" value="#{list}" />
 	<br/>
 </ui:repeat>
 <br />
  <br />
  <h:outputText value="Consulta Despesas para o Usuário: "></h:outputText>
  <h:selectOneMenu  value="#{searchMB.userId}">
     	<f:selectItem itemValue="-1" itemLabel="Selecione..." />
     	<f:selectItems value="#{searchMB.listUsers}" var="users" itemLabel="#{users.name}" itemValue="#{users.id}" />
     	</h:selectOneMenu> 
  <br/>
  <br/>
  <label>Período: </label>
  <h:inputText maxlength="10" value="#{searchMB.dateIni}" >
  	<f:convertDateTime pattern="dd/MM/yyyy" locale="pt,BR" />
  </h:inputText> a <h:inputText maxlength="10" value="#{searchMB.dateFin}" >
  	<f:convertDateTime pattern="dd/MM/yyyy" locale="pt,BR" />
  </h:inputText>
  <h:commandButton id="searchIncome" value="Consultar" action="#{searchMB.searchIncome}" ajax="false"/>
	<br/>
	<br/>
	<p:dialog  header="Deseja Deletar essa despesa?" widgetVar="deleteDialog" resizable="false" id="deleteDlg"
  showEffect="fade" hideEffect="explode" modal="true">
  	<p:commandButton update=":form" style="ui-confirmation-yes" icon="ui-icon-check" id="deleteButton4" action="#{searchMB.deleteDialog()}" oncomplete="deleteDialog.hide();" value="Sim" />
  	<p:commandButton  style="ui-confirmation-no" icon="ui-icon-close" id="cancelButton"  onclick="deleteDialog.hide();" value="Não" />
  	</p:dialog>
  	
  	<p:dialog  header="Deseja Alterar essa despesa?" widgetVar="editDialog" resizable="false" id="editDlg"
  showEffect="fade" hideEffect="explode" modal="true">
  	<p:commandButton update=":form" style="ui-confirmation-yes" icon="ui-icon-check" id="editButton" action="#{searchMB.saveAction()}" oncomplete="editDialog.hide();" value="Sim" />
  	<p:commandButton update=":form:search" style="ui-confirmation-no" icon="ui-icon-close" id="cancelEditButton" action="#{searchMB.searchIncome}" oncomplete="editDialog.hide();" value="Não" />
  	</p:dialog>
  <p:dataTable id="search" var="search" value="#{searchMB.incomeUserList}" style="width: 50%">
   <p:column>
    <f:facet name="header">
     <h:outputText value="Tipo de Despesa" />
    </f:facet>
    <h:selectOneMenu value="#{search.incomeTypeId}" rendered="#{search.editable}">
    	<f:selectItem itemValue="-1" itemLabel="Selecione..." />
    	<f:selectItem itemValue="1" itemLabel="Entrada" />
    	<f:selectItem itemValue="2" itemLabel="Despesa" />
    </h:selectOneMenu>
    <h:outputText value="#{search.incomeTypeDesc}" rendered ="#{not search.editable}"/>
   </p:column>
   <p:column>
    <f:facet name="header">
     <h:outputText value="Data" />
    </f:facet>
    <h:outputText value="#{search.date}" >
      <f:convertDateTime type="date" pattern="dd/MM/yyyy" locale="pt_BR"/>
    </h:outputText>
   </p:column>
   <p:column>
    <f:facet name="header">
     <h:outputText value="Valor" />
    </f:facet>
    <h:inputText value="#{search.value}" rendered="#{search.editable}" maxlength="10">
    	<f:convertNumber locale="pt_BR" />
    </h:inputText>
    <h:outputText value="#{search.value}" rendered ="#{not search.editable}" >
    	<f:convertNumber locale="pt_BR" />
    </h:outputText>
   </p:column>
   <p:column>
   	<f:facet name="header">
   		<h:outputText value="Ações" />
   	</f:facet>
   	<h:inputHidden value="#{search.incomeId}" rendered="#{search.editable}" />
   	<p:commandButton update=":form:search" icon="ui-icon-pencil" action="#{searchMB.editAction(search)}" rendered="#{not search.editable}" />
   	<h:outputText value="    " />
   	<p:commandButton oncomplete="deleteDialog.show();" icon="ui-icon-trash" rendered="#{not search.editable}">
        <f:setPropertyActionListener target="#{searchMB.selectIncome}" value="#{search}" />
    </p:commandButton>
  
   	<p:commandButton oncomplete="editDialog.show();" icon="ui-icon-disk" rendered="#{search.editable}">
        <f:setPropertyActionListener target="#{searchMB.incomes}" value="#{search}" />
    </p:commandButton>
   </p:column>
   
  </p:dataTable>
  <br />
  
   <br />
  	<h:commandLink action="#{searchMB.renderPanel()}">
  		<h:outputText value="#{searchMB.outputLabel}" style="text-align:right;"/>
  		
  	</h:commandLink>
  
  <h:panelGroup layout="block" rendered="#{searchMB.renderPanel}" id="mydiv">
  	
  		<table>
      
     <tr>
     <td><h:outputLabel value="Tipo de Despesa: "/></td>
     <td><h:selectOneMenu value="#{searchMB.incomeType}">
     		<f:selectItem itemValue="-1" itemLabel="Selecione..." />
   			<f:selectItem itemValue="1" itemLabel="Entrada" />
   			<f:selectItem itemValue="2" itemLabel="Despesa" />
   		</h:selectOneMenu></td>
   		</tr>
  
       <tr>
        <td><h:outputLabel for="value" value="Valor: " /></td>
        <td><p:inputText id="value" value="#{searchMB.value}" maxlength="10">
          <f:converter converterId="javax.faces.Double"/>
          <f:convertNumber locale="pt_BR" />
             <p:ajax event="blur" update="idMsg" />
         </p:inputText>
         <p:message id="idMsg" for="value" display="icon"/>
        </td>
       </tr>
      
          <tr>
        <td><p:commandButton id="addUser" value="Adicionar" action="#{searchMB.addIncome}" ajax="false"/></td>
        
       </tr>
      </table>

  </h:panelGroup>
 
  
  <br/>
  <label>Total de Entrada: </label><h:outputLabel value="#{searchMB.totalIncomes}">
  	<f:convertNumber locale="pt_BR" />
  </h:outputLabel>
  <br/>
  <label>Total de Saida: </label><h:outputLabel value="#{searchMB.totalExpenses}">
  	<f:convertNumber locale="pt_BR" />
  </h:outputLabel>
  <br/>
  <label>Total: </label>
  <c:if test="#{searchMB.total lt 0}">
  	<h:outputLabel style="color:red;" value="#{searchMB.total}">
  		<f:convertNumber locale="pt_BR" />
  	</h:outputLabel>
  </c:if>
   <c:if test="#{searchMB.total gt 0 or searchMB.total eq 0}">
  	<h:outputLabel style="color:blue;" value="#{searchMB.total}">
  		<f:convertNumber locale="pt_BR" />
  	</h:outputLabel>
  </c:if>
  
 
  </h:form>
</h:body>

</html>